// Import variables
@import "./variables.scss";

// Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

// Global CSS
@import "./global.scss";

// Components
@import "./components/buttons.scss";
@import "./components/navbar.scss";
@import "./components/pagination.scss";
@import "./components/recent-posts.scss";

// Sections
@import "./sections/masthead.scss";
@import "./sections/portfolio.scss";
@import "./sections/timeline.scss";
@import "./sections/team.scss";
@import "./sections/contact.scss";
@import "./sections/footer.scss";
@import "./sections/blog.scss";

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

*.lazy-background-image {
  background-image: none !important;
  background-color: #F1F1FA !important;
}
